<%- include('../layout/dashboard/head'); -%>


<body>
    <div class="about-us-page">
        <!-- header sec start -->
        <%- include('../layout/dashboard/header'); -%>

        <!-- header sec end -->
        <!-- banner-sec start -->
        <section class="banner inner-banner">
            <div class="inner-shape">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-text">
                                <h1 class="h1-title">About Us</h1>
                                <div class="banner-links">
                                    <ul>
                                        <li><a href="index.html" title="Home">Home</a> /</li>
                                        <li>About</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-sec end -->
        <!-- about-info start -->
        <section class="about-sec">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-image back-img" style="background-image:url(assets/images/about-img.png);">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-text">
                            <h2 class="h2-title">about us</h2>
                            <div class="overflow-text">
                                <p>when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining </p>
                                <p>when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining </p>
                                <p>when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book. It has survived not only five centuries, but also the leap into
                                    electronic typesetting, remaining </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-shape">
                <img src="assets/images/abou-us-shape-icon.svg" alt="abou-us-shape-icon" width="170" height="212">
            </div>
        </section>
        <!-- about-info end -->
        <!-- about sec start -->
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">Why To choose Us?</h2>
                            <p>Beauties Operates its retail network on stand-alone basis</p>
                        </div>
                    </div>
                </div>
                <div class="about-list">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="about-box">
                                <div class="about-icon">
                                    <img src="assets/images/icon-1.svg" alt="free delivery">
                                </div>
                                <h4 class="h4-title">free & fast shipping</h4>
                                <p>we have delivery service that is fast , safe & free of charge shipping</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-box">
                                <div class="about-icon">
                                    <img src="assets/images/icon-2.svg" alt="free delivery">
                                </div>
                                <h4 class="h4-title">100% original brands</h4>
                                <p>our products are 100% original brand we also have guarentee for product</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-box">
                                <div class="about-icon">
                                    <img src="assets/images/icon-3.svg" alt="free delivery">
                                </div>
                                <h4 class="h4-title">discount every weeks</h4>
                                <p>Get attracive discount every weeks on weekend for all categories</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- about sec end -->
        <!-- service sec start -->
        <section class="services">
            <div class="container lg-container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">what we provide</h2>
                        </div>
                    </div>
                </div>
                <div class="service-info">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="service-box">
                                <div class="service-icon">
                                    <img src="assets/images/nail-icon.svg" alt="nail-icon" width="105" height="105">
                                </div>
                                <div class="service-text">
                                    <h3 class="h3-title">nail art</h3>
                                    <p>There are many variations of passages of available, but the majority have
                                        suffered alteration in some form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-box">
                                <div class="service-icon">
                                    <img src="assets/images/make-up-icon.svg" alt="/make-up-icon" width="105"
                                        height="105">
                                </div>
                                <div class="service-text">
                                    <h3 class="h3-title">Make Up</h3>
                                    <p>There are many variations of passages of available, but the majority have
                                        suffered alteration in some form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-box">
                                <div class="service-icon">
                                    <img src="assets/images/hair-cutting-icon.svg" alt="hair-cutting-icon" width="105"
                                        height="105">
                                </div>
                                <div class="service-text">
                                    <h3 class="h3-title">HairStyle</h3>
                                    <p>There are many variations of passages of available, but the majority have
                                        suffered alteration in some form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-box">
                                <div class="service-icon">
                                    <img src="assets/images/massage-icon.svg" alt="massage-icon" width="105"
                                        height="105">
                                </div>
                                <div class="service-text">
                                    <h3 class="h3-title">Massage</h3>
                                    <p>There are many variations of passages of available, but the majority have
                                        suffered alteration in some form</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service sec end -->
        <!-- product sec start -->
        <section class="blog beauty-expert">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">our Beauty experts</h2>
                        </div>
                    </div>
                </div>
                <div class="expert-detail">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="team-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/expert-1.jpg" alt="expert-1">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">Madison Arina</h4>
                                                <span>Makeup artist</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/expert2.jpg" alt="expert2">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">mehjabin rumi</h4>
                                                <span>therapist</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/hair-dresser.jpg" alt="hair-dresser">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">Madison Alina</h4>
                                                <span>Hair-dresser</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/nail-artist.jpg" alt="nail-artist">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">Adam Amelia</h4>
                                                <span>Nail Artist</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/expert2.jpg" alt="expert2">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">mehjabin rumi</h4>
                                                <span>therapist</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/hair-dresser.jpg" alt="hair-dresser">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">Madison Alina</h4>
                                                <span>Hair-dresser</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="expert-box">
                                            <div class="expert-img">
                                                <img src="assets/images/nail-artist.jpg" alt="nail-artist">
                                            </div>
                                            <div class="expert-title">
                                                <h4 class="h4-title">Adam Amelia</h4>
                                                <span>Nail Artist</span>
                                            </div>
                                            <div class="expert-text">
                                                <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                    sed do eiusmod tempory</p>
                                            </div>
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a href="javascript:void(0);" title="Instagram"><i
                                                                class="fab fa-instagram"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Facebook"><i
                                                                class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="javascript:void(0);" title="Pinterest"><i
                                                                class="fab fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-arrows">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product sec end -->
        <!-- blog sec start -->
        <section class="Beauty-expert about-blog">
            <div class="container lg-container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">recent blogs</h2>
                        </div>
                    </div>
                </div>
                <div class="blog-box-list">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img back-img" style="background-image:url(assets/images/blog-1.jpg);">
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img back-img" style="background-image:url(assets/images/blog-2.jpg);">
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img back-img" style="background-image:url(assets/images/blog-3.jpg);">
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-btn">
                    <a href="blog.html" class="sec-btn">View More</a>
                </div>
            </div>
        </section>
        <!-- blog sec end -->
        <!-- review sec start -->
        <section class="review">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">what client say</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 m-auto">
                        <div class="review-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                            style="background-image:url(assets/images/review-1.jpg);"></div>
                                        <div class="review-info-text overflow-text">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.It is a long
                                                established fact that a reader will be distracted by the readable
                                                content of a page when looking at its layout.It is a long established
                                                fact that a reader will be </p>
                                            <div class="review-author"><span>- Eliza Martinez</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                            style="background-image:url(assets/images/review-1.jpg);"></div>
                                        <div class="review-info-text overflow-text">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.It is a long
                                                established fact that a reader will be distracted by the readable
                                                content of a page when looking at its layout.It is a long established
                                                fact that a reader will be </p>
                                            <div class="review-author"><span>- Eliza Martinez</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                            style="background-image:url(assets/images/review-1.jpg);"></div>
                                        <div class="review-info-text overflow-text">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.It is a long
                                                established fact that a reader will be distracted by the readable
                                                content of a page when looking at its layout.It is a long established
                                                fact that a reader will be </p>
                                            <div class="review-author"><span>- Eliza Martinez</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                            style="background-image:url(assets/images/review-1.jpg);"></div>
                                        <div class="review-info-text overflow-text">
                                            <p>It is a long established fact that a reader will be distracted by the
                                                readable content of a page when looking at its layout.It is a long
                                                established fact that a reader will be distracted by the readable
                                                content of a page when looking at its layout.It is a long established
                                                fact that a reader will be </p>
                                            <div class="review-author"><span>- Eliza Martinez</span></div>
                                        </div>

                                    </div>
                                </div>  
                            </div>
                            <div class="swiper-arrows">
                                <div class="swiper-button-prev">
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- review sec end -->
        <!-- footer start -->
        <section class="subscribe">
            <div class="container lg-container">
                <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                    <div class="row">
                        <div class="col-xl-6 col-12 m-auto">
                            <div class="title">
                                <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                            </div>
                            <div class="subscribe-from">
                                <div class="form-box">
                                    <form>
                                        <input type="email" class="form-input-2" name="email"
                                            placeholder="Email Address..." required="">
                                        <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../layout/dashboard/footer'); -%>

        <!-- footer end -->
    </div>
        <!-- Scroll To Top Start -->
        <%- include('../layout/dashboard/js'); -%>

</body>

</html>