<%- include('../layout/dashboard/head'); -%>


<body>
    <div class="blog-page">

        <!-- header sec start -->
        <%- include('../layout/dashboard/header'); -%>

        <!-- header sec end -->
        <!-- banner-sec start -->
        <section class="banner inner-banner">
            <div class="inner-shape">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-text">
                                <h1 class="h1-title">Blog</h1>
                                <div class="banner-links">
                                    <ul>
                                        <li><a href="index.html" title="Home">Home</a> /</li>
                                        <li>Blog</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-sec end -->
        <!-- blog sec start -->
        <section class="Beauty-expert about-blog blog-page">
            <div class="container lg-container">
                <div class="blog-box-list">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-1.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-2.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-3.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-2.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-3.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <div class="back-img" style="background-image:url(assets/images/blog-1.jpg);"></div>
                                </div>
                                <div class="blog-text">
                                    <h3 class="h3-title">At vero eos et accusamus et iusto</h3>
                                    <div class="course-content">
                                        <div class="lessons">
                                            <i class="fas fa-calendar"></i>
                                            <p>Jan 22 , 2023</p>
                                        </div>
                                        <div class="time">
                                            <i class="fas fa-comment"></i>
                                            <p>2 comments</p>
                                        </div>
                                    </div>
                                    <p> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed do
                                        eiusmod tempory...</p>
                                    <div class="blog-link">
                                        <a href="blog-detail.html" title="Read more">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-pagination">
                    <div class="pagination">
                        <a href="javascript:void(0);"><i class="fas fa-chevron-left"></i></a>
                        <a href="javascript:void(0);" class="active">1</a>
                        <a href="javascript:void(0);">2</a>
                        <a href="javascript:void(0);">3</a>

                        <a href="javascript:void(0);"><i class="fas fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
        </section>
        <!-- blog sec end -->
        <!-- footer start -->
        <section class="subscribe">
            <div class="container lg-container">
                <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                    <div class="row">
                        <div class="col-xl-6 col-12 m-auto">
                            <div class="title">
                                <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                            </div>
                            <div class="subscribe-from">
                                <div class="form-box">
                                    <form>
                                        <input type="email" class="form-input-2" name="email"
                                            placeholder="Email Address..." required="">
                                        <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../layout/dashboard/footer'); -%>

        <!-- footer end -->
    </div>
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>


</body>

</html>