<%- include('../layout/dashboard/head'); -%>

<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">Contact Us</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="/" title="Home">Home</a> /</li>
                                    <li>Contact Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- contact info sec -->
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="contact-img back-img" style="background-image:url(assets/images/contact-img.png);">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="contact-form">
                        <h2 class="h2-title">it would be great to hear from you</h2>
                        <form action="/contact" method="post" class="form">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-input" placeholder="Full Name" name="name">
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-input" placeholder="E-mail Address" name="email" required>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-input" placeholder="Phone Number" name="phone">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-input" placeholder="Subject" name="subject">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-input" cols="30" name="message" rows="20"
                                        placeholder="Type Message Here...."></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="submit-btn">
                                        <button type="submit" class="sec-btn"><span>Submit</span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact info sec -->
    <div class="contact-map">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.6594985920974!2d-81.46981168491652!3d28.669912382403094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e777b4cf2cbeb1%3A0x233f0ae283963a41!2sMy%20Salon%20Suite!5e0!3m2!1sen!2sin!4v1685621529014!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- contact info sec -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="">
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>

</body>

</html>