<%- include('../layout/dashboard/head'); -%>

<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">Register</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="/" title="Home">Home</a> /</li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- contact info sec -->
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="contact-img back-img" style="background-image:url(assets/images/contact-img.png);">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6">
                    <div class="contact-form-register">
                        <h2 class="h2-title-login">Register</h2>
                        <form action="/register" method="post" class="form">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-input" placeholder="Name" name="name" required 
                                           pattern="^[a-zA-Z0-9]{3,50}$" 
                                           title="Tên chỉ chứa chữ cái hoặc chữ cái và số, từ 3 đến 50 ký tự.">
                                </div><br>
                                <div class="col-9">
                                    <input type="email" class="form-input" placeholder="E-mail" name="mail" required 
                                           title="Vui lòng nhập email hợp lệ (ví dụ: example@example.com).">
                                </div><br>
                                <div class="col-9">
                                    <input type="text" class="form-input" placeholder="Phone" name="phone" required 
                                           pattern="^\d{10,15}$" 
                                           title="Số điện thoại phải là số từ 10 đến 15 ký tự.">
                                </div><br>
                                <div class="col-9">
                                    <input type="text" class="form-input" placeholder="Address" name="address" required 
                                           pattern="^.{5,100}$" 
                                           title="Địa chỉ phải từ 5 đến 100 ký tự.">
                                </div><br>
                                <div class="col-9">
                                    <input type="password" class="form-input" placeholder="Password" name="pass" required 
                                           pattern="^.{3,}$" 
                                           title="Mật khẩu phải có ít nhất 3 ký tự, có thể bao gồm số, chữ cái và ký tự đặc biệt.">
                                </div>
                                <div class="col-7">
                                    <div class="submit-btn-login">
                                        <button type="submit" class="sec-btn"><span>Register</span></button>
                                        <a href="/login" class="sec-btn"><span>Login</span></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
  
  
  

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>

</body>

</html>