<%- include('../layout/dashboard/head'); -%>

<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">Our Services</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="index.html" title="Home">Home</a> /</li>
                                    <li>Services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <!-- service sec start -->
    <section class="service-detail odd">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 order-lg-1 order-2">
                    <div class="service-img">
                        <img src="assets/images/service-1.png" alt="Facial massage">
                    </div>
                </div>
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="service-info">
                        <h2 class="h2-title">Facial massage</h2>
                        <div class="service-info-text overflow-text">
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining </p>
                            <p>a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining </p>
                        </div>
                        <a href="service-detail.html" class="sec-btn" title="Learn More">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service-detail even">
        <span class="service-detail-bg back-img"
            style="background-image:url(assets/images/service-even-bg.jpg);"></span>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="service-info">
                        <h2 class="h2-title">Nail art</h2>
                        <div class="service-info-text overflow-text">
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining </p>
                            <p>a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining </p>
                        </div>
                        <a href="service-detail.html" class="sec-btn" title="Learn More">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-img">
                        <img src="assets/images/service-2.png" alt="Nail art">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service-detail odd">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 order-lg-1 order-2">
                    <div class="service-img">
                        <img src="assets/images/service-3.png" alt="Make Up">
                    </div>
                </div>
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="service-info">
                        <h2 class="h2-title">Make Up</h2>
                        <div class="service-info-text overflow-text">
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining </p>
                            <p>a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining </p>
                        </div>
                        <a href="service-detail.html" class="sec-btn" title="Learn More">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service-detail even back-img">
        <span class="service-detail-bg back-img"
            style="background-image:url(assets/images/service-even-bg.jpg);"></span>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="service-info">
                        <h2 class="h2-title">Hair Styling</h2>
                        <div class="service-info-text overflow-text">
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining </p>
                            <p>a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining </p>
                        </div>
                        <a href="service-detail.html" class="sec-btn" title="Learn More">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-img">
                        <img src="assets/images/service-4.png" alt="Hair Styling">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service sec end -->
    <!-- pricing plan sec -->
    <section class="pricing-plans">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">Pricing plans</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/product1.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">facial massage</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/make-up.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Make Up</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/bridal_makeup.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Bridal Makeup</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/face-massage.jpeg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">facial massage</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/nail-art.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Nail Art</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/Hair-treatment.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Hair Styling</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/make-up.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Make Up</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/bridal_makeup.jpg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">Bridal Makeup</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="product-img back-img"
                                        style="background-image:url(assets/images/face-massage.jpeg);"></div>
                                    <div class="product-info-text">
                                        <h4 class="h4-title">facial massage</h4>
                                        <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory sed
                                            do eiusmod tempory...</p>
                                        <div class="product-price"><span>100$</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing plan sec -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="">
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../layout/dashboard/footer'); -%>

    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <%- include('../layout/dashboard/js'); -%>


</body>

</html>