<%- include('../layout/dashboard/head'); -%>


<body>

    <!-- header sec start -->
    <%- include('../layout/dashboard/header'); -%>

    <!-- header sec end -->
    <div class="service-detail-page">
        <!-- banner-sec start -->
        <section class="banner inner-banner">
            <div class="inner-shape">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-text">
                                <h1 class="h1-title">Make Up</h1>
                                <div class="banner-links">
                                    <ul>
                                        <li><a href="index.html" title="Home">Home</a> /</li>
                                        <li><a href="service.html" title="Services">Services</a> /</li>
                                        <li>MakeUp</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-sec end -->
        <!-- service-info-detail sec -->
        <div class="service-info-detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-info-text">
                            <div class="service-info-img back-img"
                                style="background-image:url(assets/images/make-up-service.jpg);"></div>
                            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining when an unknown printer took a galley of type and scrambled it to make a type
                                specimen book. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-info-detail sec -->
        <!-- service-detail-info sec -->
        <section class="blog service-info-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">Makeup Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-detail-box">
                            <div class="service-detail-img back-img"
                                style="background-image:url(assets/images/service-detail-1.jpg);"></div>
                            <div class="service-detail-text">
                                <h3 class="h3-title">Face makeup <span>$ 200</span> </h3>
                            </div>
                            <div class="service-arrow">
                                <img src="assets/images/service-arrow.svg" alt="service-arrow" width="55" height="85">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-detail-box">
                            <div class="service-detail-img back-img"
                                style="background-image:url(assets/images/service-detail-2.jpg);"></div>
                            <div class="service-detail-text">
                                <h3 class="h3-title">Eye makeup <span>$ 80</span> </h3>
                            </div>
                            <div class="service-arrow">
                                <img src="assets/images/service-arrow.svg" alt="service-arrow" width="55" height="85">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service-detail-box">
                            <div class="service-detail-img back-img"
                                style="background-image:url(assets/images/service-detail-3.jpg);"></div>
                            <div class="service-detail-text">
                                <h3 class="h3-title">Lip makeup <span>$ 50</span> </h3>
                            </div>
                            <div class="service-arrow">
                                <img src="assets/images/service-arrow.svg" alt="service-arrow" width="55" height="85">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-detail-info sec -->
        <!-- our gallery sec -->
        <section class="our-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">Our Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-1.jpg" title="gallery-1" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-1.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-2.jpg" title="gallery-2" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-2.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-3.jpg" title="gallery-3" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-3.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-4.jpg" title="gallery-4" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-4.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-5.jpg" title="gallery-5" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-5.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-2.jpg" title="gallery-2" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-2.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-img">
                            <a href="assets/images/gallery-3.jpg" title="gallery-3" data-fancybox="gallery-images">
                                <div class="back-img" style="background-image:url(assets/images/gallery-3.jpg);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our gallery sec -->
        <!-- pricing plan sec -->
        <section class="pricing-plans">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title">
                            <h2 class="h2-title">Pricing plans</h2>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/product1.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">facial massage</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/make-up.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Make Up</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/bridal_makeup.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Bridal Makeup</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/face-massage.jpeg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">facial massage</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/nail-art.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Nail Art</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/Hair-treatment.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Hair Styling</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/make-up.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Make Up</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/bridal_makeup.jpg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">Bridal Makeup</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-img back-img"
                                            style="background-image:url(assets/images/face-massage.jpeg);"></div>
                                        <div class="product-info-text">
                                            <h4 class="h4-title">facial massage</h4>
                                            <p>It Is dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempory
                                                sed do eiusmod tempory...</p>
                                            <div class="product-price"><span>100$</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- pricing plan sec -->
        <!-- footer start -->
        <section class="subscribe">
            <div class="container lg-container">
                <div class="sub-sec back-img" style="background-image:url(assets/images/subscribe-bg.jpg);">
                    <div class="row">
                        <div class="col-xl-6 col-12 m-auto">
                            <div class="title">
                                <h2 class="h2-title lg-title">subscribe to get our latest updated</h2>
                            </div>
                            <div class="subscribe-from">
                                <div class="form-box">
                                    <form>
                                        <input type="email" class="form-input-2" name="email"
                                            placeholder="Email Address..." required="">
                                        <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../layout/dashboard/footer'); -%>

    </div>
    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <a href="javascript:void(0);" id="scrollToTop" class="scrolltop" title="Back To Top"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- Jquery JS Link -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Fontawesome JS -->
    <script src="assets/js/font-awesome.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- Fancy Box JS -->
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/jquery.mixitup.min.js"></script>
    <!-- simplebar JS -->
    <script src="assets/js/simplebar.js"></script>
    <!-- wow animation JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>

</body>

</html>