<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Bcare - Wishlist</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="B-care, Beauty , Beauty products , Cosmetics" />
    <meta name="description"
        content="Use For Beauty Care With  Products and Cosmetics we will give you best products to help you get a Good skin." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- FavIcon Link -->
    <link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16" />
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" />
    <!-- Fancybox CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />
    <!-- simplebar CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/simplebar.css" />
    <!-- Swiper Slider CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.min.css" />
    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>
    <!-- header sec start -->
    <header class="site-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="site-branding">
                        <a href="index.html"><img src="assets/images/logo.png" width="160" height="85" alt="site-logo" /></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header-menu">
                        <nav class="main-navigation">
                            <button class="toggle-button menu-toggle for-mob">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <div class="header-mobile-menu">
                                <ul>
                                    <li><a href="index.html" title="Home">Home</a></li>
                                    <li><a href="about.html" title="About">About</a></li>
                                    <li class="sub-items">
                                        <a href="javascript:void(0);" class="sub-menu">Services</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="service.html" title="Services list">Services list</a>
                                            </li>
                                            <li>
                                                <a href="service-detail.html" title="Make-Up">Make-Up</a>
                                            </li>
                                            <li>
                                                <a href="service-detail.html" title="Hairstyle">Hairstyle</a>
                                            </li>
                                            <li>
                                                <a href="service-detail.html" title="Massage">Massage</a>
                                            </li>
                                            <li>
                                                <a href="service-detail.html" title="Nail-Art">Nail-Art</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-items">
                                        <a href="javascript:void(0);" class="sub-menu">Blogs</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="blog.html" title="Blog list">Blog list</a>
                                            </li>
                                            <li>
                                                <a href="blog-detail.html" title="Blog detail">Blog detail</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-items">
                                        <a href="javascript:void(0);" class="sub-menu">Pages</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="product.html" title="Products">Products</a>
                                            </li>
                                            <li>
                                                <a href="single-product.html" title="Product detail">Product detail</a>
                                            </li>
                                            <li>
                                                <a href="404.html" title="404 Error">404 Error</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-items">
                                        <a href="javascript:void(0);" class="sub-menu" title="Shop">Shop</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="wishlist.html" title="Wishlist">Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="checkout.html" title="Check Out">Check Out</a>
                                            </li>
                                            <li>
                                                <a href="cart.html" title="Shopping Cart">Shopping Cart</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html" title="Contact">Contact</a></li>
                                </ul>
                            </div>
                            <div class="cart-btn for-mob">
                                <a href="product.html" class="Cart" title="Buy"><img src="assets/images/buy.svg"
                                        alt="Buy" /></a>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header-icons for-des">
                        <a href="javascript:void(0);" title="Login"><img src="assets/images/login.svg"
                                alt="Login" /></a>
                        <a href="product.html" class="Cart" title="Buy"><img src="assets/images/buy.svg"
                                alt="Buy" /></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header sec end -->
    <!-- banner-sec start -->
    <section class="banner inner-banner">
        <div class="inner-shape">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-text">
                            <h1 class="h1-title">wishlist</h1>
                            <div class="banner-links">
                                <ul>
                                    <li><a href="index.html" title="Home">Home</a> /</li>
                                    <li>Wishlist</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-sec end -->
    <section class="wishlist">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="h2-title">your wishlist</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table check-tbl">
                            <thead>
                                <tr>
                                    <th class="remove">Remove</th>
                                    <th class="image">Image</th>
                                    <th class="p-name">Product name</th>
                                    <th class="stock">Stock Status</th>
                                    <th class="p-price">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="alert">
                                    <td class="product-item-close remove">
                                        <a href="javascript:void(0);" data-bs-dismiss="alert" aria-label="close"
                                            class="ti-close"><i class="fas fa-times"></i></a>
                                    </td>
                                    <td class="product-item-img image">
                                        <img src="assets/images/wish1.jpg" alt="wishlist-img" />
                                    </td>
                                    <td class="product-item-name">Product Item 1</td>
                                    <td class="product-item-quantity stock">In Stock</td>
                                    <td class="product-item-price p-price">$50.00</td>
                                </tr>
                                <tr class="alert">
                                    <td class="product-item-close remove">
                                        <a href="javascript:void(0);" data-bs-dismiss="alert" aria-label="close"
                                            class="ti-close"><i class="fas fa-times"></i></a>
                                    </td>
                                    <td class="product-item-img image">
                                        <img src="assets/images/wish2.jpg" alt="wishlist-img" />
                                    </td>
                                    <td class="product-item-name">Product Item 2</td>
                                    <td class="product-item-quantity stock">In Stock</td>
                                    <td class="product-item-price p-price">$100.00</td>
                                </tr>
                                <tr class="alert">
                                    <td class="product-item-close remove">
                                        <a href="javascript:void(0);" data-bs-dismiss="alert" aria-label="close"
                                            class="ti-close"><i class="fas fa-times"></i></a>
                                    </td>
                                    <td class="product-item-img image">
                                        <img src="assets/images/wish3.jpg" alt="wishlist-img" />
                                    </td>
                                    <td class="product-item-name">Product Item 3</td>
                                    <td class="product-item-quantity stock">In Stock</td>
                                    <td class="product-item-price p-price">$80.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related product -->
    <section class="related-products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-title">Related Products</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="related-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="assets/images/product1.png" alt="main-product" />
                                        </a>
                                        <span class="descount-sticker">sold-out</span>
                                        <span class="sticker">New</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#quick-view-modal-container" data-bs-toggle="modal"
                                                        title="Quick View"><i class="fa fa-eye"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-exchange"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="single-product.html">hair shampoo</a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$50.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="assets/images/product2.png" alt="product2" />
                                        </a>
                                        <span class="descount-sticker">10% off</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#quick-view-modal-container" data-bs-toggle="modal"
                                                        title="Quick View"><i class="fa fa-eye"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-exchange"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="single-product.html">hair shampoo</a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$50.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="assets/images/product3.png" alt="product3" />
                                        </a>
                                        <span class="sticker">New</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#quick-view-modal-container" data-bs-toggle="modal"
                                                        title="Quick View"><i class="fa fa-eye"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-exchange"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="single-product.html">hair shampoo</a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$50.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="assets/images/product4.png" alt="product4" />
                                        </a>
                                        <span class="descount-sticker">20% off</span>
                                        <span class="sticker">New</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#quick-view-modal-container" data-bs-toggle="modal"
                                                        title="Quick View"><i class="fa fa-eye"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-exchange"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="single-product.html">hair shampoo</a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$50.00</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product mb-30">
                                    <div class="product-img">
                                        <a href="single-product.html">
                                            <img src="assets/images/product1.png" alt="product1" />
                                        </a>
                                        <span class="descount-sticker">sold-out</span>
                                        <span class="sticker">New</span>

                                        <div class="product-action d-flex justify-content-between">
                                            <a class="product-btn" href="javascript:void(0);">Add to Cart</a>
                                            <ul class="d-flex">
                                                <li>
                                                    <a href="#quick-view-modal-container" data-bs-toggle="modal"
                                                        title="Quick View"><i class="fa fa-eye"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);"><i class="fa fa-exchange"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="single-product.html">hair shampoo</a></h3>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4 class="price"><span class="new">$50.00</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related product -->
    <!-- footer start -->
    <section class="subscribe">
        <div class="container lg-container">
            <div class="sub-sec back-img" style="background-image: url(assets/images/subscribe-bg.jpg)">
                <div class="row">
                    <div class="col-xl-6 col-12 m-auto">
                        <div class="title">
                            <h2 class="h2-title lg-title">
                                subscribe to get our latest updated
                            </h2>
                        </div>
                        <div class="subscribe-from">
                            <div class="form-box">
                                <form>
                                    <input type="email" class="form-input-2" name="email" placeholder="Email Address..."
                                        required="" />
                                    <button type="submit" class="sec-btn">
                                        <span>Subscribe</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-info">
                            <div class="footer-branding">
                                <a href="index.html" title="B-Care"><img src="assets/images/logo.png"
                                        alt="B-Care" /></a>
                            </div>
                            <p>
                                It is a long established fact that a reader will be distracted
                                by the readable content of a page when looking at its layout.
                            </p>
                            <div class="social-icons footer-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" title="Instagram"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" title="Facebook"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" title="Pinterest"><i
                                                class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="course-link">
                            <h3 class="h3-title">our Links</h3>
                            <ul>
                                <li><a href="index.html" title="Home">Home</a></li>
                                <li><a href="service.html" title="Services">Services</a></li>
                                <li><a href="blog.html" title="Blog">Blog</a></li>
                                <li><a href="product.html" title="Shop">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="course-link">
                            <h3 class="h3-title">Our Services</h3>
                            <ul>
                                <li>
                                    <a href="service-detail.html" title="Make-Up">Make-Up</a>
                                </li>
                                <li>
                                    <a href="service-detail.html" title="Hairstyle">Hairstyle</a>
                                </li>
                                <li>
                                    <a href="service-detail.html" title="Massage">Massage</a>
                                </li>
                                <li>
                                    <a href="service-detail.html" title="Nail-Art">Nail-Art</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-contact">
                            <h3 class="h3-title">Contact Us</h3>
                            <div class="footer-contact-detail">
                                <div class="social-box">
                                    <div class="social-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="social-text">
                                        <a href="tel:+1234567890" title="+123-456-7890">+123-456-7890</a>
                                    </div>
                                </div>
                                <div class="social-box">
                                    <div class="social-icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div class="social-text">
                                        <a href="mailto:abc@gmail.com" title="abc@gmail.com">abc@gmail.com</a>
                                    </div>
                                </div>
                                <div class="social-box">
                                    <div class="social-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="social-text">
                                        <a href="javascript:void(0);" title="236 Norma Avenue, Dayton, Ohio, 45406">236
                                            Norma Avenue, Dayton, Ohio, 45406</a>
                                    </div>
                                </div>
                                <div class="social-box">
                                    <div class="social-icon">
                                        <i class="far fa-clock"></i>
                                    </div>
                                    <div class="social-text">
                                        <p>Mon-Fri 11am - 5pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-box">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="footer-bottom-text">
                            <div class="copy-right">
                                <p>
                                    © 2023
                                    <a href="https://themeforest.net/user/geekcodelab" title="Geek Code Lab"
                                        target="_blank">Geek Code Lab.</a>
                                    All Rights Reserved.
                                </p>
                            </div>
                            <div class="footer-bottom-link">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" title="Terms of Service">Terms of Service</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" title="Cookies Policy">Cookies Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- Scroll To Top Start -->
    <a href="javascript:void(0);" id="scrollToTop" class="scrolltop" title="Back To Top"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- Jquery JS Link -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <!-- Swiper Slider JS Link -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap JS Link -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!-- Fontawesome JS -->
    <script src="assets/js/font-awesome.min.js"></script>
    <script src="assets/js/jquery.cookie.js"></script>
    <!-- Fancy Box JS -->
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/jquery.mixitup.min.js"></script>
    <!-- simplebar JS -->
    <script src="assets/js/simplebar.js"></script>
    <!-- wow animation JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Custom JS Link -->
    <script src="assets/js/custom.js"></script>
</body>

</html>