
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info">
                        <div class="footer-branding">
                            <a href="/index" title="B-Care"><img src="assets/images/logo.png"
                                    alt="B-Care" /></a>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.</p>
                        <div class="social-icons footer-social">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" title="Instagram"><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="Facebook"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="Pinterest"><i
                                            class="fab fa-pinterest-p"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="course-link">
                        <h3 class="h3-title">our Links</h3>
                        <ul>
                            <li><a href="index.html" title="Home">Home</a></li>
                            <li><a href="service.html" title="Services">Services</a></li>
                            <li><a href="blog.html" title="Blog">Blog</a></li>
                            <li><a href="product.html" title="Shop">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="course-link">
                        <h3 class="h3-title">Our Services</h3>
                        <ul>
                            <li>
                                <a href="service-detail.html" title="Make-Up">Make-Up</a>
                            </li>
                            <li>
                                <a href="service-detail.html" title="Hairstyle">Hairstyle</a>
                            </li>
                            <li>
                                <a href="service-detail.html" title="Massage">Massage</a>
                            </li>
                            <li>
                                <a href="service-detail.html" title="Nail-Art">Nail-Art</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-contact">
                        <h3 class="h3-title">Contact Us</h3>
                        <div class="footer-contact-detail">
                            <div class="social-box">
                                <div class="social-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="social-text">
                                    <a href="tel:+1234567890" title="+123-456-7890">+123-456-7890</a>
                                </div>
                            </div>
                            <div class="social-box">
                                <div class="social-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="social-text">
                                    <a href="mailto:abc@gmail.com" title="abc@gmail.com">abc@gmail.com</a>
                                </div>
                            </div>
                            <div class="social-box">
                                <div class="social-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="social-text">
                                    <a href="javascript:void(0);" title="236 Norma Avenue, Dayton, Ohio, 45406">236
                                        Norma Avenue, Dayton, Ohio, 45406</a>
                                </div>
                            </div>
                            <div class="social-box">
                                <div class="social-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="social-text">
                                    <p>Mon-Fri 11am - 5pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="footer-bottom-text">
                        <div class="copy-right">
                            <p>
                                © 2023
                                <a href="https://themeforest.net/user/geekcodelab" title="Geek Code Lab"
                                    target="_blank">Geek Code Lab.</a>
                                All Rights Reserved.
                            </p>
                        </div>
                        <div class="footer-bottom-link">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="Terms of Service">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" title="Cookies Policy">Cookies Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>