<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Bcare</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="B-care, Beauty , Beauty products , Cosmetics" />
    <meta name="description"
        content="B-Care is a Responsive HTML5 Cosmetics Store Template. Explore Skincare and Beauty Procedures, as well as an Enjoyable Online Shopping Experience." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- FavIcon Link -->
    <link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16" />
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css" />
    <!-- Fancybox CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.min.css" />
    <!-- simplebar CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/simplebar.css" />
    <!-- Swiper Slider CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.min.css" />
    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>