<a href="javascript:void(0);" id="scrollToTop" class="scrolltop" title="Back To Top"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- Jquery JS Link -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Swiper Slider JS Link -->
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <!-- Bootstrap JS Link -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <!-- Fontawesome JS -->
    <script src="/assets/js/font-awesome.min.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <!-- Fancy Box JS -->
    <script src="/assets/js/jquery.fancybox.min.js"></script>
    <script src="/assets/js/jquery.mixitup.min.js"></script>
    <!-- simplebar JS -->
    <script src="/assets/js/simplebar.js"></script>
    <!-- wow animation JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- Custom JS Link -->
    <script src="/assets/js/custom.js"></script>
    <!-- Chức năng -->
     <script src="/assets/js/chucnang.js"></script>
     <script src="/assets/js/admin.js"></script>